body {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, darkred);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, darkred);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, darkred);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, darkred);
    /* Standard syntax */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper .page-footer {
    background-color: blue;
}

button {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#outside {
/*    transform: rotate(90deg);
*/   display: flex;
    float: left;
}

#currentBetPanel {
    height: 195px;
}

.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

#dropdown1 {
    left: 30px;
}

#redSpins {
    color: red;
}

#blackSpins {
    color: black;
}
#payoutRules {
	text-align: center;
}
