html {
    font-family: Verdana;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/*
#table {
    background-image: url("../images/rwheel.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}*/

button {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#outside {
   display: flex;
    float: left;
}

#spin {
    max-height: 50%;
}

#currentBetPanel {
    min-height: 330px;
    max-height: 330px;
    overflow: scroll;
    text-align: center;
}

#spinHistory {
    min-height: 330px;
    max-height: 330px;
    overflow: scroll;
}


.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

#dropdown1 {
    left: 30px;
}

#payoutRules {
	text-align: center;
}

#redHistory {
    text-align: right;
}

#zeroHistory {
    text-align: center;
}